<header>
    <nav class="navbar navbar-light bg-light barraDeNavegacion">
        <a class="navbar-brand imagen" href="/"><img src="/images/logo.svg" class="imagenLogo" /></a>

        <a class="navbar-brand" href="#">Galeria</a>
        <a class="navbar-brand" href="#">Otras entradas</a>
        <a class="navbar-brand" href="#">Sobre mi</a>
        <a class="navbar-brand" href="/contacto">contacto</a>
    </nav>
    <nav class="navbar flex-column botonMovil">
        <i class="fas fa-ellipsis-h colorIconoMovil"></i>
    </nav>
    <nav class="navbar flex-column barraDeNavegacionMovil">
        
        <li class="nav-item">
            <a class="nav-link" href="#">Galeria</i></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">otras entradas</i></a>
        </li>

        <li class="nav-item" >
            <a class="nav-link" href="#">sobre mi</i></a>
        </li>
    </nav>
</header>