<header>
    <nav class="navbar navbar-light bg-light barraDeNavegacion">
        <a class="navbar-brand imagen" href="/"><img src="/images/logo.svg" class="imagenLogo" /></a>

        <a class="navbar-brand" href="/galeria">Galeria</a>
        <a class="navbar-brand" href="#">Otras entradas</a>
        <a class="navbar-brand" href="#">Sobre mi</a>
        <a class="navbar-brand" href="/contacto">contacto</a>
    </nav>
    <nav class="navbar flex-column botonMovil">
       <i class="fas fa-caret-down"></i>
    </nav>
    <nav class="navbar flex-column barraDeNavegacionMovil">
        <div>
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link active" href="/">home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/galeria">Galeria</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Otras entradas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Sobre Mi</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="/contacto">Contacto </a>
                </li>
            </ul>
        </div>
    </nav>
</header>