<body>



    <main class="container-fluid margenConBarraNavegacion  ">
        <h1>VERSION 0.0.2 (BETA TEST) {{{email}}} </h1>
        <div class="card mb-3 animated  bounceInRight targetas  mx-auto">

            <div class="row no-gutters ">
                <div class="col-md-4">
                    <img src="/images/FondoTargeta1.jpg" class="card-img" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Entrad del blog numero 1</h5>
                        <p class="card-text">En un futuro esta seria la primera entrada del blog</p>
                        <p class="card-text"><small class="text-muted">No implementado</small></p>
                    </div>
                </div>
            </div>

        </div>
        <div class="card mb-3 animated  bounceInRight delay-1s targetas mx-auto">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="/images/FondoTargeta1.jpg" class="card-img" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Entrad del blog numero 2</h5>
                        <p class="card-text">En un futuro esta seria la primera entrada del blog</p>
                        <p class="card-text"><small class="text-muted">No implementado</small></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-3 animated  bounceInRight delay-2s targetas mx-auto ">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="/images/FondoTargeta1.jpg" class="card-img" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Entrad del blog numero 3</h5>
                        <p class="card-text">En un futuro esta seria la primera entrada del blog</p>
                        <p class="card-text"><small class="text-muted">No implementado</small></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-3 animated  bounceInRight delay-3s targetas mx-auto ">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="/images/FondoTargeta1.jpg" class="card-img" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Entrad del blog numero 4</h5>
                        <p class="card-text">En un futuro esta seria la primera entrada del blog</p>
                        <p class="card-text"><small class="text-muted">No implementado</small></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-3 animated  bounceInRight delay-4s targetas mx-auto ">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="/images/FondoTargeta1.jpg" class="card-img" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Entrad del blog numero 5</h5>
                        <p class="card-text">En un futuro esta seria la primera entrada del blog</p>
                        <p class="card-text"><small class="text-muted">No implementado</small></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-3 animated  bounceInRight delay-5s targetas mx-auto ">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="/images/FondoTargeta1.jpg" class="card-img" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Entrad del blog numero 5</h5>
                        <p class="card-text">En un futuro esta seria la primera entrada del blog</p>
                        <p class="card-text"><small class="text-muted">No implementado</small></p>
                    </div>
                </div>
            </div>
        </div>

        <section>

        </section>
    </main>
</body>